
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    grid-template-rows: 72px 1fr;
}

header {
    background-color: blue;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 1fr;
}


nav {
    background-color: brown;
}

.task-window {
    background-color: white;
}

@media only screen and (max-width: 850px){
    main {
        grid-template-columns: 1fr;
    }
    main nav {
        display: none;
    }
}

.add {
    width: 70px;
   height: 70px;
   background-color: rgb(226, 153, 17);
   border: none;
   border-radius: 50%;
   box-shadow: 0 2px 8px 2px rgba(211, 157, 42, 0.425);
   transition: all 0.1s ease-in-out;
   cursor: pointer;
 
   font-size: 50px;
   color: white;
   text-align: center;
   line-height: 70px;
 
   position: fixed;
   right: 50px;
   bottom: 50px;
}

.add:hover {
    box-shadow: 0 6px 14px 0 rgba(211, 157, 42, 0.425);
    transform: scale(1.05);
 }